---

---

<html>
  <header class="site-header">
    <div class="header-content">
      <h1 class="site-title">Codenik Star</h1>
    </div>
  </header>

  <body>
    <main>
      <slot />
    </main>
  </body>

</html>
